.container{
    background-color: white;
}
html{
    font-size: 20px;
}
.body{
    background-color: blue;
}
.header{
   background-color: #011827;
   padding: 0.5rem;
  }
  .header ul{
    display: none;
  }
.header img{
    width: 128px;
    height: 82px;
    float: left;
       }       
       .header h1{
        color: white;
        font: 'ROBOTO';
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 50px;
    
       }
       .left{
              text-align: center;
       }
       .left img{
        width: 100%;
        height: 274px;
    }
    .left #clickbtn{
        display: none;
    }
    .left #clickbtn2{
        display: inline;
        background-color: #8ACFE5;
        width: 200px;
        height: 33px;
        margin-top: 25px;
                       
    }
    .left p{
        margin-bottom: 50px;
        font-size: 15px;
    }
    .content img{
      width: 63px;
        height: 62px;
        float: left;  
    }
    .content img:nth-child(3){
        display: none;
    }
       .content p{
    font-style: italic;
    font: roboto;
    font-size: 20px;
    }
    .content p:nth-child(2){
       display: none; 
    }
   .main h2{
    font-size: 24px;
    font: robota;
   }
   .main address img{
    width: 363px;
    height: 219px;
   margin-top: 0px;
   }
   main h3{
    font-size: 20px;
    font: robota;
          
   }
   .main address img:nth-child(4){
    width: 10px;
    height: 10px;
   
   }
   .main address img:nth-child(5){
     width: 10px;
    height: 10px;
   
   }
.main address img:nth-child(6){
    width: 10px;
    height: 10px;
   
   }
   .main address img:nth-child(7){
     width: 10px;
    height: 10px;
    
   }
   .main address img:nth-child(8){
    width: 10px;
    height: 10px;
    
   }
   .main em{
    font-size: 12px;
    font-family: roboto;
   }
  .main #paragraf1{
    font-size: 15px;
    font-family: robota;
    
  }
  .main button{
 background-color: #E3170A;
        width: 150px;
        height: 22px;
        color: white;
        font-size: 16px;
        /*float: right;*/
        margin-bottom: 50px;
       margin-left: 200px;
  }
  .main #sitebtn{
    background-color: #8ACFE5;
        width: 200px;
        height: 33px;
        color: black;
        float: none;
        margin-bottom: 10px;
       margin-top: 10px;
    text-align: center;
  }
  .main section{
    display: none;
  }
   .main small{
    display: none;
  }
   
  .main #online1{
         /*float: none;*/
         text-align: center;
        margin-bottom: 50px;
        font-size: 15px;
        
  }
    .middle{
        background-color: #011827;
        text-align: center;
    }
    .middle p{
        color: white;
        font-size: 18px;
        font-family: roboto;
        text-align: center;
        padding-top: 50px;
       
    }
    .middle button{
        border-color: #8ACFE5;
       color: white;
        background-color: #011827;
         width: 200px;
        height: 33px;
        margin-bottom: 50px;
    }
    .right img{
        width: 100%;
        height: 300px;
    }
    .right h4{
        font-size: 32px;
        font-family: roboto;
        font-weight: bold;
    }
    .right p{
        font-size: 20px;
        font-family: roboto;
    }
    .right button{
       background-color: #E3170A;
       width: 200px;
        height: 33px;
        color: white; 
        margin-bottom: 25px;
    }
    .cornor img{
         width: 100%;
        height: 300px
    }
    .cornor h5{
       font-size: 32px;
        font-family: roboto;
        font-weight: bold; 
    }
    .cornor p{
     font-size: 20px;
        font-family: roboto;   
    }
    .cornor button{
     background-color: #E3170A;
       width: 200px;
        height: 33px;
        color: white; 
        margin-bottom: 50px;    
    }
.footer{
  background-color:#011827;
       font-size: 15px;
    font-family: robota;
   color: white;
   text-align:justify;
    }
.footer h6{
     font-size: 15px;
    font-family: robota;
    font-weight: bold;
    margin-bottom: 0px;
   padding-top: 50px;
   padding-left: 5px;
}
.footer p{
 font-size: 15px;    
    margin-top: 0px;
    }
.footer nav ul{
    list-style: none;
    font-size: 15px;
    font-family: robota;
    color: white;
    padding-bottom: 50px;
    }
.footer nav ul li a{
   color: white; 
  text-decoration-line: none;
  }
.footer nav ul li:first-child{
   font-weight: bold; 
   margin-bottom: 5px;
}
.footer nav ul li:nth-child(4){
    margin-bottom: 15px;
}
.footer nav ul li:nth-child(6){
    margin-bottom: 30px;
}
.footer nav ul li:nth-child(7){
    font-weight: bold; 
    margin-bottom: 5px;
}
.footer ul li a {
    color: white; 
  text-decoration-line: none;
  list-style: none;
}
.footer ul li{
    list-style: none;
}

@media screen and (min-width: 1280px) {
  
.container{
    display: grid;
    grid-template-columns: auto;
    background-color: white;
}

.header ul{
    display: block;
      list-style: none;
    font-size: 15px;
    font-family: robota;
    color: white;
   display: flex;
   text-align: center;
   gap: 70px;
}
.header ul li a{
    color: white; 
  text-decoration-line: none;
}
.header ul li:first-child{
    padding-left: 130px;
}
.left img{
    margin-bottom: 0px;
    
}
  .left #clickbtn{
        display: inline;
        background-color: #E3170A;
       width: 200px;
        height: 33px;
        color: white; 
    
    }
.left p{
        display: none;
    }
    .content{
        display: flex;
    }
  .content img:nth-child(3){
        width: 63px;
        height: 62px; 
    display: inline;
    
    }
.content p:nth-child(2){
       display: block ;
    }
    .main{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
        
    }
    .main h2{
        display: none;
    }
    .main h6{
        
        font-size: 35px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .main address{
        margin-top: 100px;
    }
   .main section{
    display: block;
    margin-top: 0px;
   
    
  }
  .main small{
    display: block;
   margin-top: 100px;
  }
   
    .main h4{
        font-size: 20px;
         font: robota;
    }
    .main h5{
        font-size: 20px;
         font: robota;
    }
    
   .main #sitebtn{
    display: none;
   }
   .main a{
    display: none;
   }
    .main section #hakerimg1{
         width: 363px;
    height: 219px;
    }
     .main section img {
         width: 10px;
         height: 10px;
    }
     .main small #hakerimg2{
         width: 363px;
    height: 219px;
    }
     .main small img{
         width: 10px;
         height: 10px;
    }
   
              
    
   .right h4{
        margin-right: 100px;
    }
    .right p{
        margin-right: 100px;
    }
    .right button{
        margin-right: 100px;
        
    }
    .right img{
       width: 50%; 
       height: 300px;
       float: left;
       margin-right: 100px;
    }
        .cornor img{
         width: 50%;
        height: 300px;
         float: right; 
         margin-left: 100px;  
    }

         .cornor h5{
         margin-left: 100px;
         }
         .cornor p{
         margin-left: 100px;
         }
         .cornor button{
         margin-left: 100px;
         }

.footer nav ul {
    float: right;
    margin-right: 400px;
    margin-top: 0px;
}
.footer ul {
    float: right;
    margin-right: 0px;
    
}

}