.container{
    background-color: white;
}
html{
    font-size: 20px;
}
.body{
    background-color: blue;
}
.header{
   background-color: #011827;
   padding: 0.5rem;
   height: 144px;
}
.header img{
    width: 128px;
    height: 82px;
    top: 26px;
    left: 27px;
       }
       .header h1{
        color: white;
        font: 'ROBOTO';
        font-weight: bold;
        font-size: 24px;
        position: absolute;
        /*width: 78px;
        height: 84px;*/
        top: 25px;
        left: 168px;
       }
       .left{
        height: 500px;
       }
       .left img{
        width: 100%;
        height: 274px;
    }
    .left button{
        background-color: #8ACFE5;
        width: 200px;
        height: 33px;
        position: absolute;
        top: 455px;
        left: 91px;
    }
    .left a{
        position: absolute;
        top: 500px;
        left: 175px;
    }
    .left img:nth-child(4){
        width: 73px;
        height: 72px;
        float: left;
        position: absolute;
        top: 550px;
        left: 27px;
    }
   .left p{
    position: absolute;
    top: 550px;
    left: 116px;
    font-style: italic;
    font: roboto;
   }
   .main h2{
    font-size: 26px;
    font: robota;
   }
   .main img{
    width: 340px;
    height: 219px;
    left: 50px;
   }
   main h3{
    font-size: 20px;
    font: robota;
   }
   .main img:nth-child(4){
    width: 10px;
    height: 10px;
   }
   .main img:nth-child(5){
     width: 10px;
    height: 10px;
   }
.main img:nth-child(6){
    width: 10px;
    height: 10px;
   }
   .main img:nth-child(7){
     width: 10px;
    height: 10px;
   }
   .main img:nth-child(8){
    width: 10px;
    height: 10px;
   }
  .main p{
    font-size: 18px;
    font-family: robota;
  }
  .main button{
 background-color: #E3170A;
        width: 100px;
        height: 22px;
        color: white;
        font-size: 16px;
  }

.footer{
  background-color: #011827;
   padding: 0.5rem;
}
